text = "Some charts and tables for top repositories in the project, and a summary of the evolution of their participation with links to more detailed information per repository"
ds_name = "scm"
filter = "repos"
order_by = "scm_commits"
limit = "10"
metric0 = "scm_repositories"
metric0_title = "Active repositories per month"
metric1 = "scm_commits"
metric1_title = "Commits per repository (aggregated)"
metric2 = "scm_authors"
metric2_title = "Authors per repository (aggregated)"



