.FilterItemSummary,
.PersonSummary
 {
    font-size:0.875em;
}

/* Sometimes the dates in x need more space*/
.FilterItemMetricsEvol
{
	margin-bottom:15px;
}

.Demographics
{
	width: 100%;
	height: 300px;
}