      <div class="well">
	<div class="row">
	  <div class="col-md-12">
	    <p><i><b>Evolution of States</b> charts show the evolution of
		the states in the analysis of the issue tracking system.
	    </i></p>

	    <p><i>Each chart represents the number of issues in such state
		in each period of time.</i></P>	    
	  </div>
	</div>
	<!--<div class="row">
	  <div class="col-md-12">-->
	<div class="row">
          <div class="col-md-4">
	    <div class="MetricsEvol" data-data-source="its" data-metrics="New"
		 data-min="true" style="height:120px;"></div>
          </div>
          <div class="col-md-4">
	    <div class="MetricsEvol" data-data-source="its" data-metrics="In Progress"
		 data-min="true" style="height:120px;"></div>
          </div>
          <div class="col-md-4">
	    <div class="MetricsEvol" data-data-source="its" data-metrics="Opinion"
		 data-min="true" style="height:120px;"></div>
          </div>
	</div>
	<div class="row">
          <div class="col-md-4">
	    <div class="MetricsEvol" data-data-source="its" data-metrics="Confirmed"
		 data-min="true" style="height:120px;"></div>
          </div>
          <div class="col-md-4">
	    <div class="MetricsEvol" data-data-source="its" data-metrics="Incomplete"
		 data-min="true" style="height:120px;"></div>
          </div>
          <div class="col-md-4">
	    <div class="MetricsEvol" data-data-source="its" data-metrics="Unknown"
		 data-min="true" style="height:120px;"></div>
          </div>
	</div>
	<div class="row">
          <div class="col-md-4">
	    <div class="MetricsEvol" data-data-source="its" data-metrics="Fix Committed"
		 data-min="true" style="height:120px;"></div>
          </div>
          <div class="col-md-4">
	    <div class="MetricsEvol" data-data-source="its" data-metrics="Fix Released"
		 data-min="true" style="height:120px;"></div>
          </div>
          <div class="col-md-4">
	    <div class="MetricsEvol" data-data-source="its" data-metrics="Invalid"
		 data-min="true" style="height:120px;"></div>
          </div>
	</div>
      </div>
      <div class="well">
	<div class="row">
	  <div class="col-md-12">
            <p><i><b>Current Status</b> charts show the current 'photo' of each of the states.
	    </i></p>
	    <p><i>For each of the states shown, it is specified when the issue was born.</i></P>
	  </div>
	</div>
	<!-- -->
	<div class="row">
          <div class="col-md-4">
	    <div class="MetricsEvol" data-data-source="its" data-graph="bars" data-metrics="current_New"
		 data-min="true" style="height:120px;"></div>
          </div>
          <div class="col-md-4">
	    <div class="MetricsEvol" data-data-source="its" data-graph="bars" data-metrics="current_In Progress"
		 data-min="true" style="height:120px;"></div>
          </div>
          <div class="col-md-4">
	    <div class="MetricsEvol" data-data-source="its" data-graph="bars" data-metrics="current_Opinion"
		 data-min="true" style="height:120px;"></div>
          </div>
	</div>
	<div class="row">
          <div class="col-md-4">
	    <div class="MetricsEvol" data-data-source="its" data-graph="bars" data-metrics="current_Confirmed"
		 data-min="true" style="height:120px;"></div>
          </div>
          <div class="col-md-4">
	    <div class="MetricsEvol" data-data-source="its" data-graph="bars" data-metrics="current_Incomplete"
		 data-min="true" style="height:120px;"></div>
          </div>
          <div class="col-md-4">
	    <div class="MetricsEvol" data-data-source="its" data-graph="bars" data-metrics="current_Unknown"
		 data-min="true" style="height:120px;"></div>
          </div>
	</div>
	<div class="row">
          <div class="col-md-4">
	    <div class="MetricsEvol" data-data-source="its" data-graph="bars" data-metrics="current_Fix Committed"
		 data-min="true" style="height:120px;"></div>
          </div>
          <div class="col-md-4">
	    <div class="MetricsEvol" data-data-source="its" data-graph="bars" data-metrics="current_Fix Released"
		 data-min="true" style="height:120px;"></div>
          </div>
          <div class="col-md-4">
	    <div class="MetricsEvol" data-data-source="its" data-graph="bars" data-metrics="current_Invalid"
		 data-min="true" style="height:120px;"></div>
          </div>
	</div>
      </div>
  
  <div class="well">
    <div class="row">
      <div class="col-md-3">
        <p><i><b>The most likely changes</b> tables show the percentages of changes among states.
        </i></p>
      </div>
      <div class="col-md-9">
        <div class="MarkovTable" data-data-source="its" data-title="Transitions among statuses"></div>
      </div>
    </div>
    

  </div>


