body {
    max-width: 900px;
    width: 900px;
    max-height: 700px;
    height: 700px;
    margin: 20px;
    font: normal 0.75em georgia, sans-serif;
/*     border-style: solid; */
    border-width: 1px;
}

.box {
/*     border-style: solid; */
    border-width: 1px;
    padding: 5px; 
}

.dashboard_graph {
	height: 200px;
	width: 500px;
}