
<!-- summary bar -->
<div class="capped-box overall-summary ">
  <div class="stats-switcher-viewport js-stats-switcher-viewport">
    <ul class="numbers-summary">
      <li><a href="scm.html"><span class="GlobalData"
                                   data-data-source="scm" data-field="scm_commits"></span></a> commits</li>
      <li><a href="scm.html"><span class="GlobalData"
                                   data-data-source="scm" data-field="scm_authors"></span></a> developers
      </li>
      <li><a href="its.html"><span class="GlobalData"
                                   data-data-source="its" data-field="its_opened"></span></a> tickets</li>
      <li><a href="mls.html"><span class="GlobalData"
                                   data-data-source="mls" data-field="mls_sent"></span></a> mail messages
      </li>
    </ul>
  </div>
</div>
<!-- end of summary bar -->

<div class="row">

</div>
<div class="row">
  <div class="col-md-6">
    <div class="DataSourcesTable"></div>            		
  </div> 
  <div class="col-md-6">
    <div class="well well-lg">

      <p>Our main concern as a company is <strong>to provide products and services as transparent as possible, 
          generating a trustable relationship with our costumers</strong>. Therefore, if you find any 
        inconsistencies in the data, or have any other kind of feedback, please let us know by contacting us.</p>
      <p><strong>Thanks</strong> for your interest and support!</p>
    </div>
    
    <p>Get here the <a href="data/db">MySQL database dumps</a> with the complete datasets
      retrievied using the <a href="#"><i class="fa
                                                 fa-external-link"></i> Metrics Grimoire Tools</a></p>
    
    <p>You can also download the <a href="data/json">JSON files</a> (<a href="data/json.tgz">archive</a>) 
      used to display the information shown on this dashboard</p>

  </div>
  
</div>

