<div class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
  <a class="navmenu-brand report_name" href="./"></a>
  <div class="SideNavBar"></div>
</div>

<div class="navbar navbar-default navbar-fixed-top">
  <div class="row">
    <div class="col-md-6">
      <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand">
        <a href="./"><img src="./open-stack-cloud-computing-logo.png" style="height: 25px;"></a>
      </span>
      <span class="navbar-brand">
        <strong id="ProjectName"><div class="ProjectNavBar"></div></strong>
      </span>
      <div class="btn-group" id="sp">
      </div>
    </div>
    <div class="col-md-3">
      <div class="ReleaseSelector"></div>
    </div>
    <div class="col-md-3">
      <div class="Search"></div>
    </div>
  </div>
</div>
