<div class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
  <a class="navmenu-brand" href="./"><span class='report_name'></span></a>
  <div class="SideNavBar"></div>
</div>

<!--<div class="navbar navbar-default navbar-fixed-top">
    <div class="row">
      <div class="col-md-1">
	<button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	</button>
      </div>
      <div class="col-md-2">
	<span class="navbar-brand"><img src="./open-stack-cloud-computing-logo.png" style="height: 30px;"></span>
      </div>
      <div class="col-md-7 ProjectNavBar">
      </div>

      <div class="col-md-2">
	<form action="contributor.html" class="navbar-form navbar-right hidden-xs" role="search" style="margin-right: 25px;">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="company, person, issue, etc.">
          </div>
          <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Search</button>
	</form>
      </div>
    </div>
</div>-->


<div class="navbar navbar-default navbar-fixed-top">
  <div class="row">
    <div class="col-md-9">
      <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand">
        <img src="./open-stack-cloud-computing-logo.png" style="height: 25px;">
      </span>
      <span class="navbar-brand">
        <strong id="ProjectName"><div class="ProjectNavBar"></div></strong>
      </span>
      <div class="btn-group" id="sp">
      </div>
    </div>
    <div class="col-md-3">      
      <div class="ReleaseSelector"></div>      
    </div>
  </div>

  <!--<form action="contributor.html" class="navbar-form navbar-right hidden-xs" role="search" style="margin-right: 25px;">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="company, person, issue, etc.">
    </div>
    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i> Search</button>
  </form>-->
</div>
