<div class="row invisible-box">
  <div class="col-md-12">
    <div class="well well-small">
      <div class="row">
	<div class="col-md-1">
	  <i class="fa fa-user fa-2x"></i>
	</div>
	<div class="col-md-11">
	  <div class="PersonData"></div>
	</div>
      </div>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-md-6">
    <div class="well well-small">
      <div class="row">
	<div class="col-md-12">
	  <p><i class="fa fa-code"></i> Source Code Management</p>
	</div>
	<div class="col-md-3">
	  <div class="PersonSummary" data-data-source="scm"></div>
	</div>
	<div class="col-md-9">
	  <div class="PersonMetrics" data-data-source="scm"
               data-metrics="scm_commits" data-min="true"
	       style="height: 140px;" data-frame-time="true"></div>
	</div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="well well-small">
      <div class="row">
	<div class="col-md-12">
	  <p><i class="fa fa-check"></i> Source Code Review</p>
	</div>
	<div class="col-md-3">
	  <div class="PersonSummary" data-data-source="scr"></div>
	</div>
	<div class="col-md-9">
	  <div class="PersonMetrics" data-data-source="scr"
               data-metrics="scr_closed" data-min="true"
	       style="height: 140px;" data-frame-time="true"></div>
	</div>	
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="well well-small">
      <div class="row">
	<div class="col-md-12">
	  <p><i class="fa fa-ticket"></i> Issue tracking system</p>
	</div>
	<div class="col-md-3">
	   <div class="PersonSummary" data-data-source="its"></div>
	</div>
	<div class="col-md-9">
	  <div class="PersonMetrics" data-data-source="its"
               data-metrics="its_closed" data-min="true"
	       style="height: 140px;" data-frame-time="true"></div>
	</div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="well well-small">
      <div class="row">
	<div class="col-md-12">
	  <p><i class="fa fa-envelope-o"></i> Mailing Lists</p>
	</div>
	<div class="col-md-3">
	  <div class="PersonSummary" data-data-source="mls"></div>
	</div>
	<div class="col-md-9">
	  <div class="PersonMetrics" data-data-source="mls"
               data-metrics="mls_sent" data-min="true"
	       style="height: 140px;" data-frame-time="true"></div>
	</div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="well well-small">
      <div class="row">
	<div class="col-md-12">
	  <p><i class="fa fa-comment-o"></i> IRC Channels</p>
	</div>
	<div class="col-md-3">
	  <div class="PersonSummary" data-data-source="irc"></div>
	</div>
	<div class="col-md-9">
	  <div class="PersonMetrics" data-data-source="irc"
               data-metrics="irc_sent" data-min="true"
	       style="height: 140px;" data-frame-time="true"></div>
	</div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="well well-small">
      <div class="row">
	<div class="col-md-12">
	  <p><i class="fa fa-pencil-square-o"></i> Wiki</p>
	</div>
	<div class="col-md-3">
	  <div class="PersonSummary" data-data-source="mediawiki"></div>
	</div>
	<div class="col-md-9">
	  <div class="PersonMetrics" data-data-source="mediawiki"
               data-metrics="revisions" data-min="true"
	       style="height: 140px;" data-frame-time="true"></div>
	</div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="well well-small">
      <div class="row">
	<div class="col-md-3">
	  <div class="PersonSummary" data-data-source="releases"></div>
	</div>
	<div class="col-md-9">
	  <div class="PersonMetrics" data-data-source="releases"
               data-metrics="releases_releases" data-min="true"
	       style="height: 140px;" data-frame-time="true"></div>
	</div>
      </div>
    </div>
  </div>
</div>

