<div class="panel panel-default">
  <div class="panel-body">

    <div class="container alert alert-info">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <p><i class="fa fa-icon fa-info-circle"></i> <strong>Project map for the Eclipse Foundation</strong></p>
      <p>Just click on the number in order to display and browse the tree of subprojects. Click on the name to go to the project overview</p>
    </div>
    
    <ul><li><a href='project.html?project=soa'>SOA Platform Project</a>
        <a data-toggle="collapse" data-parent="#accordion" href="#collapsesoa0"><span class="badge">9 subprojects</span></a><div id="collapsesoa0" class="panel-collapse collapse"><ul>
            <li>&nbsp;&nbsp; <a href='project.html?project=soa.bpel'>BPEL Designer</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=soa.ebam'>eBAM</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=soa.stardust'>Stardust</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=soa.mangrove'>Mangrove - SOA Modeling Framework</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=soa.sca'>SCA Tools</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=soa.jwt'>Java Workflow Tooling</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=soa.winery'>Winery</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=soa.bpmn2-modeler'>BPMN2 Modeler Project</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=soa.ebpm'>eBPM</a>
            </li>
        </ul></div>
    </li></ul>
    <ul><li><a href='project.html?project=rt'>RT</a>
        <a data-toggle="collapse" data-parent="#accordion" href="#collapsert0"><span class="badge">14 subprojects</span></a><div id="collapsert0" class="panel-collapse collapse"><ul>
            <li>&nbsp;&nbsp; <a href='project.html?project=rt.ebr'>Eclipse Bundle Recipes</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=rt.ecf'>Eclipse Communication Framework</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=rt.rap'>Remote Application Platform</a>
              <a data-toggle="collapse" data-parent="#accordion" href="#collapsert_rap1"><span class="badge">1 subprojects</span> </a><div id="collapsert_rap1" class="panel-collapse collapse"><ul>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=rt.rap.incubator'>Remote Application Platform Incubator</a>
                  </li>
              </ul></div>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=rt.gemini'>Gemini - Enterprise Modules Project</a>
              <a data-toggle="collapse" data-parent="#accordion" href="#collapsert_gemini1"><span class="badge">6 subprojects</span> </a><div id="collapsert_gemini1" class="panel-collapse collapse"><ul>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=rt.gemini.dbaccess'>Gemini DBAccess</a>
                  </li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=rt.gemini.blueprint'>Gemini Blueprint</a>
                  </li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=rt.gemini.management'>Gemini Management</a>
                  </li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=rt.gemini.naming'>Gemini Naming</a>
                  </li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=rt.gemini.jpa'>Gemini JPA</a>
                  </li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=rt.gemini.web'>Gemini Web</a>
                  </li>
              </ul></div>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=rt.smila'>SMILA</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=rt.riena'>Riena Project</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=rt.jetty'>Jetty - Servlet Engine and Http Server</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=rt.gyrex'>Eclipse Gyrex Project</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=rt.equinox'>Equinox</a>
              <a data-toggle="collapse" data-parent="#accordion" href="#collapsert_equinox1"><span class="badge">4 subprojects</span> </a><div id="collapsert_equinox1" class="panel-collapse collapse"><ul>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=rt.equinox.incubator'>Equinox Incubator</a>
                  </li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=rt.equinox.framework'>Equinox Framework</a>
                  </li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=rt.equinox.p2'>Equinox p2</a>
                  </li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=rt.equinox.bundles'>Equinox Bundles</a>
                  </li>
              </ul></div>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=rt.virgo'>Virgo</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=rt.concierge'>Concierge</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=rt.apricot'>Apricot</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=rt.vertx'>Vert.x</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=rt.eclipselink'>EclipseLink Project</a>
            </li>
        </ul></div>
    </li></ul>
    <ul><li><a href='project.html?project=birt'>Business Intelligence and Reporting Tools (BIRT)</a>
    </li></ul>
    <ul><li><a href='project.html?project=modeling'>Eclipse Modeling Project</a>
        <a data-toggle="collapse" data-parent="#accordion" href="#collapsemodeling0"><span class="badge">28 subprojects</span></a><div id="collapsemodeling0" class="panel-collapse collapse"><ul>
            <li>&nbsp;&nbsp; <a href='project.html?project=modeling.amp'>Agent Modeling Platform</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=modeling.fmc'>Fundamental Modeling Concepts</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=modeling.mmt'>Model-to-Model Transformation (MMT)</a>
              <a data-toggle="collapse" data-parent="#accordion" href="#collapsemodeling_mmt1"><span class="badge">3 subprojects</span> </a><div id="collapsemodeling_mmt1" class="panel-collapse collapse"><ul>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=modeling.mmt.qvtd'>QVTd (QVT Declarative)</a>
                  </li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=modeling.mmt.qvt-oml'>QVT Operational</a>
                  </li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=modeling.mmt.atl'>ATL - A Model Transformation Technology</a>
                  </li>
              </ul></div>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=modeling.epsilon'>Epsilon</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=modeling.umlgen'>Eclipse UML Generators</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=modeling.mdt'>Model Development Tools (MDT)</a>
              <a data-toggle="collapse" data-parent="#accordion" href="#collapsemodeling_mdt1"><span class="badge">9 subprojects</span> </a><div id="collapsemodeling_mdt1" class="panel-collapse collapse"><ul>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=modeling.mdt.papyrus'>Papyrus</a>
                  </li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=modeling.mdt.modisco'>MoDisco</a>
                  </li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=modeling.mdt.ocl'>OCL (Object Constraint Language)</a>
                  </li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=modeling.mdt.rmf'>Requirements Modeling Framework</a>
                  </li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=modeling.mdt.imm-releng'>IMM Releng</a>
                  </li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=modeling.mdt.xsd'>MDT XSD (XML Schema Definition)</a>
                  </li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=modeling.mdt.uml2'>MDT UML2</a>
                  </li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=modeling.mdt.etrice'>eTrice</a>
                  </li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=modeling.mdt.bpmn2'>Business Process Model and Notation (BPMN2)</a>
                  </li>
              </ul></div>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=modeling.gmf-runtime'>Graphical Modeling Framework (GMF) Runtime</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=modeling.graphiti'>Graphiti</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=modeling.upr'>Eclipse UML Profiles Repository</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=modeling.emfcompare'>EMF Compare</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=modeling.viatra2'>VIATRA2</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=modeling.emf'>Eclipse Modeling Framework (EMF)</a>
              <a data-toggle="collapse" data-parent="#accordion" href="#collapsemodeling_emf1"><span class="badge">9 subprojects</span> </a><div id="collapsemodeling_emf1" class="panel-collapse collapse"><ul>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=modeling.emf.transaction'>EMF Transaction</a>
                  </li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=modeling.emf.emf'>EMF</a>
                  </li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=modeling.emf.teneo'>EMF Teneo Model - Relational Database Integration</a>
                  </li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=modeling.emf.mwe'>Modeling Workflow Engine</a>
                  </li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=modeling.emf.validation'>EMF Validation</a>
                  </li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=modeling.emf.query'>EMF Query</a>
                  </li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=modeling.emf.egf'>Eclipse Generation Factories (EGF)</a>
                  </li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=modeling.emf.diffmerge'>EMF Diff/Merge</a>
                  </li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=modeling.emf.cdo'>CDO Model Repository</a>
                  </li>
              </ul></div>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=modeling.sirius'>Sirius</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=modeling.amalgam'>Amalgamation</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=modeling.eatop'>EATOP</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=modeling.emfstore'>EMFStore</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=modeling.emf-parsley'>EMF Parsley</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=modeling.incquery'>EMF-IncQuery</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=modeling.tmf'>Textual Modeling Framework</a>
              <a data-toggle="collapse" data-parent="#accordion" href="#collapsemodeling_tmf1"><span class="badge">1 subprojects</span> </a><div id="collapsemodeling_tmf1" class="panel-collapse collapse"><ul>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=modeling.tmf.xtext'>Xtext</a>
                  </li>
              </ul></div>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=modeling.ecp'>EMF Client Platform</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=modeling.gmt'>Generative Modeling Technologies (GMT)</a>
              <a data-toggle="collapse" data-parent="#accordion" href="#collapsemodeling_gmt1"><span class="badge">1 subprojects</span> </a><div id="collapsemodeling_gmt1" class="panel-collapse collapse"><ul>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=modeling.gmt.amw'>AMW - Atlas Model Weaver</a>
                  </li>
              </ul></div>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=modeling.sphinx'>Sphinx</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=modeling.gmf-notation'>Graphical Modeling Framework (GMF) Notation</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=modeling.gmp'>Graphical Modeling Project</a>
              <a data-toggle="collapse" data-parent="#accordion" href="#collapsemodeling_gmp1"><span class="badge">1 subprojects</span> </a><div id="collapsemodeling_gmp1" class="panel-collapse collapse"><ul>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=modeling.gmp.gmf-tooling'>Graphical Modeling Framework (GMF) Tooling</a>
                  </li>
              </ul></div>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=modeling.edapt'>Edapt</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=modeling.m2t'>Model To Text (M2T)</a>
              <a data-toggle="collapse" data-parent="#accordion" href="#collapsemodeling_m2t1"><span class="badge">3 subprojects</span> </a><div id="collapsemodeling_m2t1" class="panel-collapse collapse"><ul>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=modeling.acceleo'>Acceleo</a>
                  </li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=modeling.m2t.jet'>Java Emitter Templates (JET2)</a>
                  </li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=modeling.m2t.xpand'>Xpand</a>
                  </li>
              </ul></div>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=modeling.gendoc'>Gendoc</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=modeling.emft'>Eclipse Model Framework Technology (EMFT)</a>
              <a data-toggle="collapse" data-parent="#accordion" href="#collapsemodeling_emft1"><span class="badge">10 subprojects</span> </a><div id="collapsemodeling_emft1" class="panel-collapse collapse"><ul>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=modeling.emft.featuremodel'>EMF Feature Model</a>
                  </li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=modeling.emft.emfatic'>emfatic</a>
                  </li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=modeling.emft.eef'>Extended Editing Framework (EEF)</a>
                  </li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=modeling.emft.refactor'>EMF Refactor</a>
                  </li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=modeling.emft.ecoretools'>Ecore Tools</a>
                  </li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=modeling.emft.wazaabi'>Wazaabi</a>
                  </li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=modeling.emft.texo'>EMFT Texo</a>
                  </li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=modeling.emft.b3'>b3</a>
                  </li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=modeling.emft.henshin'>Henshin</a>
                  </li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=modeling.emft.emf-facet'>EMF Facet</a>
                  </li>
              </ul></div>
            </li>
        </ul></div>
    </li></ul>
    <ul><li><a href='project.html?project=webtools'>Eclipse Web Tools Platform Project</a>
        <a data-toggle="collapse" data-parent="#accordion" href="#collapsewebtools0"><span class="badge">14 subprojects</span></a><div id="collapsewebtools0" class="panel-collapse collapse"><ul>
            <li>&nbsp;&nbsp; <a href='project.html?project=webtools.jeetools'>WTP Java EE Tools</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=webtools.releng'>Webtools Releng</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=webtools.jsf'>JavaServer Faces</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=webtools.incubator'>WTP Incubator</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=webtools.servertools'>Server Tools</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=webtools.dali'>Dali Java Persistence Tools</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=webtools.webservices'>Web Services Tools</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=webtools.common'>WTP Common Tools</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=webtools.vjet'>VJet</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=webtools.libra'>Enterprise Tools for the OSGi Service Platform</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=webtools.java-ee-config'>Java EE Module Configuration Editors </a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=webtools.sourceediting'>WTP Source Editing</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=webtools.jsdt'>JavaScript Development Tools</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=webtools.ejbtools'>WTP EJB Tools</a>
            </li>
        </ul></div>
    </li></ul>
    <ul><li><a href='project.html?project=mylyn'>Mylyn</a>
        <a data-toggle="collapse" data-parent="#accordion" href="#collapsemylyn0"><span class="badge">8 subprojects</span></a><div id="collapsemylyn0" class="panel-collapse collapse"><ul>
            <li>&nbsp;&nbsp; <a href='project.html?project=mylyn.tasks'>Mylyn Tasks</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=mylyn.reviews'>Mylyn Reviews</a>
              <a data-toggle="collapse" data-parent="#accordion" href="#collapsemylyn_reviews1"><span class="badge">1 subprojects</span> </a><div id="collapsemylyn_reviews1" class="panel-collapse collapse"><ul>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=mylyn.reviews.r4e'>Review for Eclipse (R4E)</a>
                  </li>
              </ul></div>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=mylyn.versions'>Mylyn Versions</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=mylyn.docs'>Mylyn Docs</a>
              <a data-toggle="collapse" data-parent="#accordion" href="#collapsemylyn_docs1"><span class="badge">2 subprojects</span> </a><div id="collapsemylyn_docs1" class="panel-collapse collapse"><ul>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=mylyn.docs.vex'>Visual Editor for XML</a>
                  </li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=mylyn.docs.intent'>Intent</a>
                  </li>
              </ul></div>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=mylyn.context'>Mylyn Context</a>
              <a data-toggle="collapse" data-parent="#accordion" href="#collapsemylyn_context1"><span class="badge">1 subprojects</span> </a><div id="collapsemylyn_context1" class="panel-collapse collapse"><ul>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=mylyn.context.mft'>Model Focusing Tools</a>
                  </li>
              </ul></div>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=mylyn.builds'>Mylyn Builds</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=mylyn.incubator'>Mylyn Incubator</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=mylyn.commons'>Mylyn Commons</a>
            </li>
        </ul></div>
    </li></ul>
    <ul><li><a href='project.html?project=tools'>Tools Project</a>
        <a data-toggle="collapse" data-parent="#accordion" href="#collapsetools0"><span class="badge">18 subprojects</span></a><div id="collapsetools0" class="panel-collapse collapse"><ul>
            <li>&nbsp;&nbsp; <a href='project.html?project=tools.windowbuilder'>WindowBuilder</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=tools.pdt'>PHP Development Tools</a>
              <a data-toggle="collapse" data-parent="#accordion" href="#collapsetools_pdt1"><span class="badge">1 subprojects</span> </a><div id="collapsetools_pdt1" class="panel-collapse collapse"><ul>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=tools.pdt.incubator'>PDT Incubator</a>
                  </li>
              </ul></div>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=tools.ptp'>Parallel Tools Platform (PTP)</a>
              <a data-toggle="collapse" data-parent="#accordion" href="#collapsetools_ptp1"><span class="badge">1 subprojects</span> </a><div id="collapsetools_ptp1" class="panel-collapse collapse"><ul>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=tools.ptp.photran'>Fortran Development Tools (Photran)</a>
                  </li>
              </ul></div>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=tools.tptp'>Test and Performance Tools Platform</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=tools.atf'>Ajax Tools Framework (ATF)</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=tools.aspectj'>AspectJ</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=tools.gef'>Graphical Editing Framework (GEF)</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=tools.buckminster'>Buckminster Component Assembly</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=tools.damos'>Damos</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=tools.sequoyah'>Sequoyah</a>
              <a data-toggle="collapse" data-parent="#accordion" href="#collapsetools_sequoyah1"><span class="badge">1 subprojects</span> </a><div id="collapsetools_sequoyah1" class="panel-collapse collapse"><ul>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=tools.sequoyah.mtj'>Mobile Tools for Java</a>
                  </li>
              </ul></div>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=tools.linuxtools'>Linux Tools</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=tools.objectteams'>Object Teams</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=tools.mat'>Memory Analyzer</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=tools.tm'>Target Management</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=tools.orbit'>Eclipse Orbit Project</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=tools.ajdt'>AJDT - AspectJ Development Tools Project</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=tools.cdt'>C/C++ Development Tooling (CDT)</a>
              <a data-toggle="collapse" data-parent="#accordion" href="#collapsetools_cdt1"><span class="badge">1 subprojects</span> </a><div id="collapsetools_cdt1" class="panel-collapse collapse"><ul>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=tools.cdt.tcf'>Target Communication Framework</a>
                  </li>
              </ul></div>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=tools.edt'>EGL Development Tools</a>
            </li>
        </ul></div>
    </li></ul>
    <ul><li><a href='project.html?project=technology'>Technology Project</a>
        <a data-toggle="collapse" data-parent="#accordion" href="#collapsetechnology0"><span class="badge">51 subprojects</span></a><div id="collapsetechnology0" class="panel-collapse collapse"><ul>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.recommenders'>Code Recommenders</a>
              <a data-toggle="collapse" data-parent="#accordion" href="#collapsetechnology_recommenders1"><span class="badge">1 subprojects</span> </a><div id="collapsetechnology_recommenders1" class="panel-collapse collapse"><ul>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=technology.recommenders.incubator'>Code Recommenders Incubator</a>
                  </li>
              </ul></div>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.tigerstripe'>Tigerstripe</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.paho'>Paho</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.mihini'>Mihini</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.babel'>Babel</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.lyo'>Lyo</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.subversive'>Subversive - SVN Team Provider</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.uomo'>Eclipse UOMo</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.efxclipse'>e(fx)clipse</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.actf'>Accessibility Tools Framework</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.krikkit'>Krikkit</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.mosquitto'>Mosquitto</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.osee'>Open System Engineering Environment</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.flux'>Flux</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.egit'>Eclipse Git Team Provider</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.tycho'>Tycho</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.cbi'>Common Build Infrastructure</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.scout'>Eclipse Scout</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.smarthome'>Eclipse SmartHome</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.xwt'>XWT</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.sapphire'>Sapphire</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.ponte'>Ponte</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.jubula'>Jubula Functional Testing Tool</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.packaging'>Eclipse Packaging Project</a>
              <a data-toggle="collapse" data-parent="#accordion" href="#collapsetechnology_packaging1"><span class="badge">2 subprojects</span> </a><div id="collapsetechnology_packaging1" class="panel-collapse collapse"><ul>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=technology.packaging.mpc'>Marketplace Client</a>
                  </li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=technology.packaging.rtp'>Eclipse Runtime Packaging Project</a>
                  </li>
              </ul></div>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.dash'>Dash</a>
              <a data-toggle="collapse" data-parent="#accordion" href="#collapsetechnology_dash1"><span class="badge">1 subprojects</span> </a><div id="collapsetechnology_dash1" class="panel-collapse collapse"><ul>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=technology.dash.dashboard'>Commits Dashboard</a>
                  </li>
              </ul></div>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.swtbot'>SWTBot</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.vtp'>Voice Tools Project</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.jgit'>Java implementation of Git</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.higgins'>Higgins</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.epf'>Eclipse Process Framework Project</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.rcptt'>RCP Testing Tool</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.kura'>Kura</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.mbeddr'>Mbeddr</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.remus'>Remus</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.hudson'>Hudson</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.rtsc'>Real-Time Software Components</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.wakaama'>Wakaama</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.nebula'>Supplemental Widgets for SWT (Nebula)</a>
              <a data-toggle="collapse" data-parent="#accordion" href="#collapsetechnology_nebula1"><span class="badge">2 subprojects</span> </a><div id="collapsetechnology_nebula1" class="panel-collapse collapse"><ul>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=technology.nebula.nattable'>Nebula NatTable</a>
                  </li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=technology.nebula.incubator'>Nebula Incubator</a>
                  </li>
              </ul></div>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.dltk'>Dynamic Languages Toolkit</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.stem'>Spatio-Temporal Epidemiological Modeler</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.ogee'>Ogee</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.gef3d'>Graphical Editing Framework 3D</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.m2e'>Maven Integration</a>
              <a data-toggle="collapse" data-parent="#accordion" href="#collapsetechnology_m2e1"><span class="badge">1 subprojects</span> </a><div id="collapsetechnology_m2e1" class="panel-collapse collapse"><ul>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=technology.m2e.m2e-wtp'>Maven Integration for Web Tools Platform</a>
                  </li>
              </ul></div>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.sisu'>Sisu</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.om2m'>OM2M</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.handly'>Handly</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.californium'>Californium (Cf) CoAP Framework</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.koneki'>Koneki</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.aether'>Aether</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.skalli'>Skalli</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=technology.eclipsescada'>Eclipse SCADA</a>
            </li>
        </ul></div>
    </li></ul>
    <ul><li><a href='project.html?project=datatools'>Data Tools Platform</a>
        <a data-toggle="collapse" data-parent="#accordion" href="#collapsedatatools0"><span class="badge">5 subprojects</span></a><div id="collapsedatatools0" class="panel-collapse collapse"><ul>
            <li>&nbsp;&nbsp; <a href='project.html?project=datatools.modelbase'>Model Base</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=datatools.connectivity'>Connectivity</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=datatools.incubator'>Incubator</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=datatools.enablement'>Enablement</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=datatools.sqltools'>SQL Dev Tools</a>
            </li>
        </ul></div>
    </li></ul>
    <ul><li><a href='project.html?project=eclipse'>Eclipse Project</a>
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseeclipse0"><span class="badge">5 subprojects</span></a><div id="collapseeclipse0" class="panel-collapse collapse"><ul>
            <li>&nbsp;&nbsp; <a href='project.html?project=eclipse.orion'>Orion</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=eclipse.pde'>PDE - Plugin Development Environment</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=eclipse.jdt'>JDT - Java development tools</a>
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseeclipse_jdt1"><span class="badge">3 subprojects</span> </a><div id="collapseeclipse_jdt1" class="panel-collapse collapse"><ul>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=eclipse.jdt.debug'>JDT Debug</a>
                  </li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=eclipse.jdt.ui'>JDT UI</a>
                  </li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=eclipse.jdt.core'>JDT Core</a>
                  </li>
              </ul></div>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=eclipse.e4'>e4 Project</a>
            </li>
            <li>&nbsp;&nbsp; <a href='project.html?project=eclipse.platform'>Eclipse Platform</a>
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseeclipse_platform1"><span class="badge">6 subprojects</span> </a><div id="collapseeclipse_platform1" class="panel-collapse collapse"><ul>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=eclipse.platform.ui'>UI</a>
                  </li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=eclipse.platform.releng'>RelEng</a>
                  </li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=eclipse.platform.debug'>Platform Debug</a>
                  </li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=eclipse.platform.swt'>SWT</a>
                  </li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=eclipse.platform.resources'>Resources</a>
                  </li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp; <a href='project.html?project=eclipse.platform.text'>Platform Text</a>
                  </li>
              </ul></div>
            </li>
        </ul></div>
    </li></ul>
  </div>
</div>
