.container-fluid {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}


td#aleft {
text-align: left;
}

td#aright {
text-align: right;
}

td {
text-align: right;
}    
